.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 20vh;
}

.header {
  background-color: #171525;
  height: 21vh;
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.centerItemStyle {
  font-size: 16px;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
}

.selectStyle {
  background-color: #ffffff;
  border-radius: 35px;
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
}

.menuItemStyle {
  font-size: 18px;
  width: 170px;
}

.center {
  width: 100%;
}

.logo {
  position: relative;
}

/* ::-webkit-scrollbar {
  width: 0px;
} */

.container {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  padding: 15px;
}

.card {
  flex-shrink: 0;
  width: 230px;
  height: 160px;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Mobile */
@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .center {
    padding: 8rem 0 6rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
